*__pycache__*
.snakemake
.snakebids
benchmarks
logs
.vscode
env.yaml
resources

config/*
!config/config.template.yml
results
.python-version
*.swp
.ipynb_cache
.ipynb_checkpoints
.licenses
.pybids
.virtual_documents
